---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azconfig.io
  resources:
  - azureappconfigurationproviders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azconfig.io
  resources:
  - azureappconfigurationproviders/finalizers
  verbs:
  - update
- apiGroups:
  - azconfig.io
  resources:
  - azureappconfigurationproviders/status
  verbs:
  - get
  - patch
  - update
